.container-faq {
    max-width: 70%;
    margin-left: 15% !important;
  }
  .container-faq h3 {
    line-height: 1.2;
    font-weight: 500;
  }
//   @media screen and (min-width: 992px) {
//     .container-faq {
//       display: grid;
//       grid-template-columns: 250px 1fr;
//     }
//   }
 