.container-first-section {
  position: relative;
  text-align: center;
  color: white;
   height: 60vh ;
   background-size: cover;
  .image-fisrt-section {
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    .first-section-title {
      color: white;
      text-transform: uppercase;
      z-index: 1;
      font-size: 50px;
    }
  }
}
