.comments-map {
    font-weight: normal !important;
    font-size: 13px !important;
    background-image: url("../../../../assets/chat.svg");
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position-y: 30%;
    float: right;
  }